<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAorN_mS7d9pmGYQbzwChM07gM5QEKAUSM</string>
	<key>GCM_SENDER_ID</key>
	<string>642377156095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs184.hw2</string>
	<key>PROJECT_ID</key>
	<string>goldtrackerhw2</string>
	<key>STORAGE_BUCKET</key>
	<string>goldtrackerhw2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642377156095:ios:1e146ee82d4dd52411d3ca</string>
</dict>
</plist>